export ADGUARD_PASSWORD=$(pass adguard/admin)
export ENV_TYPE=staging
export RECONCILE_INTERVAL=60
export CLOUDFLARE_API_KEY=$(pass crypto/near-dns/prod/cloudflare-token)
export CLOUDFLARE_EMAIL=$(pass crypto/near-dns/prod/cloudflare-email)